<%= simple_form_for @game do |f| %>
  <%= f.simple_fields_for :posts do |posts_form| %>
    # Here you have all simple_form methods available
    <%= posts_form.input :title %>
  <% end %>
  <%= f.input :name, label: 'שם המשחק', error: 'חובה להכניס שם', placeholder: 'קבוצת הדרקונים' %>
  <%= f.button :submit, "יאללה למשחק", class: "btn btn-primary" %>
<% end %>



<%= form_with(model: celeb) do |form| %>
  <% if celeb.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(celeb.errors.count, "error") %> prohibited this celeb from being saved:</h2>

      <ul>
        <% celeb.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :game_id, style: "display: block" %>
    <%= form.text_field :game_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
